<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<a href="beverages.html"> <img class="first-slide"
				src="images/b1.jpg" alt="First slide"></a>

		</div>
		<div class="item">
			<a href="personalcare.html"> <img class="second-slide "
				src="images/b3.jpg" alt="Second slide"></a>

		</div>
		<div class="item">
			<a href="household.html"><img class="third-slide "
				src="images/b1.jpg" alt="Third slide"></a>

		</div>
	</div>

</div>
<!-- /.carousel -->
<!-- top-brands -->
<div class="top-brands">
	<div class="container">
		<h2>畅 销 优 惠 商 品</h2>
		<div class="grid_3 grid_5">
			<div class="bs-example bs-example-tabs" role="tabpanel"
				data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#expeditions"
						id="expeditions-tab" role="tab" data-toggle="tab"
						aria-controls="expeditions" aria-expanded="true">商品推荐</a></li>
					<li role="presentation"><a href="#tours" role="tab"
						id="tours-tab" data-toggle="tab" aria-controls="tours">新品推荐</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active"
						id="expeditions" aria-labelledby="expeditions-tab">
						<div class="agile-tp">
							<h5>本周畅销</h5>
							<p class="w3l-ad">我们将以往销量最高的,好评最多的商品放在下面,希望您喜欢...</p>
						</div>
						<div class="agile_top_brands_grids">
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item1" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item2" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item3" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="agile_top_brands_grids">
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item4" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item5" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item6" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="tours"
						aria-labelledby="tours-tab">
						<div class="agile-tp">
							<h5>最新商品</h5>
							<p class="w3l-ad">我们将近期上架的新品放在下面,希望您喜欢...</p>
						</div>
						<div class="agile_top_brands_grids">
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item7" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item8" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item9" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="agile_top_brands_grids">
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item10" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item11" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 top_brand_left">
								<div class="hover14 column">
									<div class="agile_top_brand_left_grid">
										<div class="agile_top_brand_left_grid_pos">
											<img src="images/offer.png" alt=" " class="img-responsive" />
										</div>
										<div class="agile_top_brand_left_grid1">
											<figure>
												<div id="item12" class="snipcart-item block"></div>
											</figure>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //top-brands -->

<!--banner-bottom-->
<div class="ban-bottom-w3l">
	<div class="container">
		<div class="col-md-6 ban-bottom3">
			<div class="ban-top">
				<img src="images/p2.jpg" class="img-responsive" alt="" />

			</div>
			<div class="ban-img">
				<div class=" ban-bottom1">
					<div class="ban-top">
						<img src="images/p3.jpg" class="img-responsive" alt="" />

					</div>
				</div>
				<div class="ban-bottom2">
					<div class="ban-top">
						<img src="images/p4.jpg" class="img-responsive" alt="" />

					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="col-md-6 ban-bottom">
			<div class="ban-top">
				<img src="images/111.jpg" class="img-responsive" alt="" />


			</div>
		</div>

		<div class="clearfix"></div>
	</div>
</div>
<!--banner-bottom-->
<!--brands-->

<!--//brands-->
<!-- new -->
<div class="newproducts-w3agile">
	<div class="container">
		<h3>为您推荐</h3>
		<div class="agile_top_brands_grids">
			<div class="col-md-3 top_brand_left-1">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive">
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div id="item13" class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="products.html"><img title=" " alt=" "
											src="images/14.png"></a>
										<p>Fried-gram</p>
										<div class="stars">
											<i class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star gray-star" aria-hidden="true"></i>
										</div>
										<h4>
											$35.99 <span>$55.00</span>
										</h4>
									</div>
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart"> <input
													type="hidden" name="add" value="1"> <input
													type="hidden" name="business" value=" "> <input
													type="hidden" name="item_name"
													value="Fortune Sunflower Oil"> <input type="hidden"
													name="amount" value="35.99"> <input type="hidden"
													name="discount_amount" value="1.00"> <input
													type="hidden" name="currency_code" value="USD"> <input
													type="hidden" name="return" value=" "> <input
													type="hidden" name="cancel_return" value=" "> <input
													type="submit" name="submit" value="加入购物车" class="button">
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 top_brand_left-1">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive">
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div id="item14" class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="products.html"><img title=" " alt=" "
											src="images/15.png"></a>
										<p>Navaratan-dal</p>
										<div class="stars">
											<i class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star gray-star" aria-hidden="true"></i>
										</div>
										<h4>
											$30.99 <span>$45.00</span>
										</h4>
									</div>
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart"> <input
													type="hidden" name="add" value="1"> <input
													type="hidden" name="business" value=" "> <input
													type="hidden" name="item_name" value="basmati rise">
												<input type="hidden" name="amount" value="30.99"> <input
													type="hidden" name="discount_amount" value="1.00">
												<input type="hidden" name="currency_code" value="USD">
												<input type="hidden" name="return" value=" "> <input
													type="hidden" name="cancel_return" value=" "> <input
													type="submit" name="submit" value="加入购物车" class="button">
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 top_brand_left-1">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive">
						</div>
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive">
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div id="item15" class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="products.html"><img src="images/16.png" alt=" "
											class="img-responsive"></a>
										<p>White-peasmatar</p>
										<div class="stars">
											<i class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star gray-star" aria-hidden="true"></i>
										</div>
										<h4>
											$80.99 <span>$105.00</span>
										</h4>
									</div>
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart"> <input
													type="hidden" name="add" value="1"> <input
													type="hidden" name="business" value=" "> <input
													type="hidden" name="item_name" value="Pepsi soft drink">
												<input type="hidden" name="amount" value="80.00"> <input
													type="hidden" name="discount_amount" value="1.00">
												<input type="hidden" name="currency_code" value="USD">
												<input type="hidden" name="return" value=" "> <input
													type="hidden" name="cancel_return" value=" "> <input
													type="submit" name="submit" value="加入购物车" class="button">
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 top_brand_left-1">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid_pos">
							<img src="images/offer.png" alt=" " class="img-responsive">
						</div>
						<div class="agile_top_brand_left_grid1">
							<figure>
								<div id="item16" class="snipcart-item block">
									<div class="snipcart-thumb">
										<a href="products.html"><img title=" " alt=" "
											src="images/17.png"></a>
										<p>Channa-dal</p>
										<div class="stars">
											<i class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star blue-star" aria-hidden="true"></i> <i
												class="fa fa-star gray-star" aria-hidden="true"></i>
										</div>
										<h4>
											$35.99 <span>$55.00</span>
										</h4>
									</div>
									<div class="snipcart-details top_brand_home_details">
										<form action="#" method="post">
											<fieldset>
												<input type="hidden" name="cmd" value="_cart"> <input
													type="hidden" name="add" value="1"> <input
													type="hidden" name="business" value=" "> <input
													type="hidden" name="item_name"
													value="Fortune Sunflower Oil"> <input type="hidden"
													name="amount" value="35.99"> <input type="hidden"
													name="discount_amount" value="1.00"> <input
													type="hidden" name="currency_code" value="USD"> <input
													type="hidden" name="return" value=" "> <input
													type="hidden" name="cancel_return" value=" "> <input
													type="submit" name="submit" value="加入购物车" class="button">
											</fieldset>
										</form>
									</div>
								</div>
							</figure>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //new -->
<script type="text/javascript">
	$(function() {
		//初始化商家推荐
		doIniteBR();
		//初始化新品推荐
		doIniteNR();
		//初始化个人推荐
		doInitePR();
	});

	function doIniteBR() {
		var item = [ "#item1", "#item2", "#item3", "#item4", "#item5", "#item6" ];
		var url = "good/doIniteBR";
		$.getJSON(url, function(result) {
			doCreateItem(result.data, item, 6);
		})
	}

	function doIniteNR() {
		var item = [ "#item7", "#item8", "#item9", "#item10", "#item11",
				"#item12" ];
		var url = "good/doIniteNR";
		$.getJSON(url, function(result) {
			doCreateItem(result.data, item, 6);
		})
	}
	
	function doInitePR() {
		var item = [ "#item13", "#item14", "#item15", "#item16" ];
		var url = "good/doInitePR";
		$.getJSON(url, function(result) {
			doCreateItem(result.data, item, 4);
		})
	}

	function doCreateItem(data, items, n) {
		for (var i = 0; i < n; i++) {
			var item = $(items[i]);
			item.empty();
			var div1 = $("<div></div>");
			div1.prop("class", "snipcart-thumb");
			div1.data("itemData",data[i]);
			var a = $("<a></a>");
			a.prop("href", "#");
			var img = $("<img/>");
			img.prop("src", "images/" + data[i].image);
			a.append(img);
			var p = $("<p></p>");
			p.append(data[i].name);

			var div2 = doCreateStars(data[i]);
			
			var h4=$("<h4></h4>");
			var s1="$"+data[i].price;
			h4.append(s1);
			var span=$("<span></span>");
			span.append("$"+data[i].discount_price);
			h4.append(span);
			
			div1.append(a);
			div1.append(p);
			div1.append(div2);
			div1.append(h4);
			
			var div3 = $("<div></div>");
			div3.prop("class", "snipcart-details top_brand_home_details");
			var input="<input type='button' value='加入购物车'  onclick='add2ShoppingList("+data[i].id+")' class='button' />";
			div3.append(input);
			
			item.append(div1);
			item.append(div3);
			
		}
		$(".snipcart-thumb").unbind('click').on("click", doLoadSimple);
	}

	function doCreateStars(data) {
		var div = $("<div></div>");
		div.prop("class", "stars");
		var score = data.score;
		
		for (var i = 0; i < score; i++) {
			var star1 = $("<i></i>");
			star1.prop("class", "fa fa-star blue-star");
			star1.attr("aria-hidden", "true");
			div.append(star1);
		}
		for (var i = 0; i < 5-score; i++) {
			var star2 = $("<i></i>");
			star2.prop("class", "fa fa-star gray-star");
			star2.attr("aria-hidden", "true");
			div.append(star2);
		}
		return div;
	}
	
	function doLoadSimple(){
		/* if($("#main").data("good"));
		$("#main").removeData("good");*/
		var good = $(this).data("itemData");
		$("#main").data("good",good); 
		//load函数是将url对应的资源加载到指定位置
		$("#main").load("front/simple_list");
	}
</script>