<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript">
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }


</script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"
	media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->

<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script src="js/layer/layer.js"></script>
<script type="text/javascript">
	$(function() {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
</head>

<body>
	<!-- header -->
	<div class="agileits_header">
		<div class="container">
			<div class="w3l_offers">
				<p>
					折扣高达7折<a id="load-headerRecommend-id" href="#">速去购买</a>
				</p>
			</div>
			<div id="headSession"  class="agile-login">
				<ul>
					
					<li><a id="load-login-id" href="#"><span id="sregister"> 登录 </span></a></li>
					<li><a id="load-register-id" href="#"><span id="slogin"> 注册 </span></a></li>
					<li><a id="load-userInfo-id" href="#"><span id="userInfo" hidden="hidden"> </span></a></li>
					<li><a id="load-userCenter-id" href="#"><span id="suserCenter" hidden="hidden"> 个人中心 </span></a></li>
			
					<li><a id="load-help-id" href="#"> 帮助 </a></li>

				</ul>
			</div>
			
			<div id="load-checkout1-id" class="product_list_header">
				
					<input type="hidden" name="cmd" value="_cart"> <input
						type="hidden" name="display" value="1">
					<button class="w3view-cart" type="button" name="button" value="">
						<i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
					</button>
			
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="logo_products">
		<div class="container">
			<div class="w3ls_logo_products_left1">
				<ul class="phone_email">
					<li><i class="fa fa-phone" aria-hidden="true"></i>如有疑问,请线上留言或者请拨打电话:022-82123333</li>
				</ul>
			</div>
			<div class="w3ls_logo_products_left">
				<h1>
					<a href="index.html"> 超 市 </a>
				</h1>
			</div>
			<div class="w3l_search">
				<form action="#" method="post">
					<input type="search" name="Search"
						placeholder="Search for a Product..." required="">
					<button type="submit" class="btn btn-default search"
						aria-label="Left Align">
						<i class="fa fa-search" aria-hidden="true"> </i>
					</button>
					<div class="clearfix"></div>
				</form>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	<div id="menu"></div>
	<!-- main-slider -->

	<!-- //main-slider -->
	<!-- //top-header and slider -->
	<div id="main"></div>


	<!-- //footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid">
					<h3>联系方式</h3>

					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker"
							aria-hidden="true"></i>天津市南开区白堤路666号</li>
						<li><i class="glyphicon glyphicon-envelope"
							aria-hidden="true"></i><a href="mailto:15822712946@163.com">15822712946@163.com</a></li>
						<li><i class="glyphicon glyphicon-earphone"
							aria-hidden="true"></i>022-82123333</li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>资料</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							id="load-about-id" href="#">关于我们</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							id="load-footContact-id" href="#">联系我们</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							href="#">品牌</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							id="load-faq-id" href="#">帮助</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							href="products.html">特殊商品</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>种类</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							href="groceries.html">食品杂货</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							href="household.html">家庭用品</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							href="personalcare.html">儿童用品</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							href="packagedfoods.html">水</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							href="beverages.html">饮料</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3>常用</h3>
					<ul class="info">
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							href="products.html">商店</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							id="load-checkout-id" href="#">购物车</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							href="login.html">登录</a></li>
						<li><i class="fa fa-arrow-right" aria-hidden="true"></i><a
							href="registered.html">注册</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<div class="footer-copy">

			<div class="container"></div>
		</div>

	</div>
	<div class="footer-botm">
		<div class="container">
			<div class="w3layouts-foot">
				<ul>
					<li><a href="#" class="w3_agile_facebook"><i
							class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i
							class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i
							class="fa fa-dribbble" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_vimeo"><i
							class="fa fa-vimeo" aria-hidden="true"></i></a></li>
				</ul>
			</div>
			<div class="payment-w3ls">
				<img src="images/card.png" alt=" " class="img-responsive">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //footer -->
	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<!-- top-header and slider -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
		
			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<script src="js/minicart.min.js"></script>

	<script type="text/javascript">
		$(function() {
			$("#menu").load("front/menu_list");
			$("#main").load("front/index_list");
			doLoadUI("load-headerRecommend-id", "front/recommend_list");
			doLoadUI("load-register-id", "front/email_list");
			doLoadUI("load-login-id", "front/login_list");
			doLoadUI("load-userCenter-id", "front/userCenter_list");
			doLoadUI("load-footContact-id", "front/contact_list");
			doLoadUI("load-about-id", "front/about_list");
			doLoadUI("load-help-id", "front/faq_list");
			doLoadUI("load-faq-id", "front/faq_list");
			doLoadUI("load-pointShopping-id", "front/pointShopping_list");
			doLoadUI("load-checkout-id", "front/checkout_list");
			doLoadUI("load-checkout1-id", "front/checkout_list");
			var username=$("#headSession").data("username");
			if(username){
				$("#userInfo").prop("hidden","");
				$("#userInfo").append("欢迎您，"+username);
				$("#main").load("front/index_list");
				$("#suserCenter").prop("hidden","");
			}
				
		});
		function doLoadUI(id, url) {
			$("#" + id).click(function() {
				//load函数是将url对应的资源加载到指定位置
				$("#main").load(url);
			});
		}
		function add2ShoppingList(goodId) {
            //prompt层
            layer.prompt({title: '输入添加数量，并确认', formType: 2}, function (text, index) {
                layer.close(index);
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    data: {
                        "goodId": goodId,
                        "number": text
                    },
                    url: 'GoodCart/insertGoodCart',
                    success: function (data) {
                        if (data.state == '1') {
                            layer.msg('成功添加到购物车!');
                        }
                        else {
                            layer.msg('服务器状态繁忙!');
                        }
                    },
                    error: function () {
                        layer.msg('服务器状态繁忙!');
                    }
                });
            });
        }
	</script>
	<!-- main slider-banner -->

	<!-- //main slider-banner -->
</body>
</html>